<style>

body {
background-image: url('https://1s5vks3w34e13t8fkw1i7mk6-wpengine.netdna-ssl.com/wp-content/uploads/2018/03/564-p6-tackle-pic.jpg');
background-position: center center;
background-repeat: no-repeat;
background-attachment:fixed;
background-size: cover;
background-color: #464646;
}




</style>

<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
       <% if Helpers.is_logged_in?(session) %>
      <center><h1 class="display-3">Welcome <%= Helpers.current_user(session).name %></h1></center>
      <center><h4>Here are a list of your players...</h4></center><br>
      <% else %>
      <center><p><a class="btn btn-primary btn-lg" href="/sessions/login" role="button">Login</a> <a class="btn btn-primary btn-lg" href="/registrations/signup" role="button">Signup</a></p></center>
      <% end %>

      <p></p>
    </div>
  </div>



    <hr>

  </div> <!-- /container -->
