<style>
.col-pixel-width-100 { flex: 0 0 100px; }
</style>

<h1>Add New Player</h1>
<div class="container">
<div class="row">
  <div class="col-sm-6">

<form action="/newplayer" method="POST">
    <div class="form-group">
    <input type="text" class="form-control" name="name" placeholder="Name:">
    </div>
    <div class="form-group">
    <input type="text" class="form-control" name="position" placeholder="Position:">
    </div>
    <input type="submit" class="btn btn-primary" value="Add Player">
  </form>
</div>
</div>
</div>
