<style>

body {
background-image: url('https://i.ytimg.com/vi/7RQ8DCxAaR8/maxresdefault.jpg');
background-position: center center;
background-repeat: no-repeat;
background-attachment:fixed;
background-size: cover;
background-color: #464646;
}




</style>

<!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Please login to continue!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Login</a></p>
    </div>
  </div>



    <hr>

  </div> <!-- /container -->
